* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 20px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .content__container {
    padding: 0 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .content__container__items {
    margin: 0 auto;
  }
  .content__container__item:first-child {
    margin-right: 0px;
  }
  .content__container__item-block {
    width: 0px;
  }
  .color__img {
    margin: 0 auto;
    max-width: 240px;
  }
  .box__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .form__column-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .column__iphone {
    max-width: 100%;
  }
  .column__item {
    width: 100%;
    height: 100%;
    background: #574B63;
  }
  .form__content {
    padding: 0px;
  }
  .column__item {
    width: auto;
  }
}
.header__item-text {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 80px;
  background-color: #0A0A0A;
  display: flex;
  justify-content: center;
}
.header__nav-row {
  display: flex;
  width: 1119px;
}
.header__column {
  display: flex;
  flex: 1 0 33.333%;
}
.header__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item-text {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 29.05px;
  color: #717171;
  text-decoration: none;
  justify-content: center;
  margin: 0 30px 0 0;
}
.header__item-text:last-child {
  margin: 0px;
}
.header__item-logo {
  max-width: 100%;
}
.header__item-phone {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 29.05px;
  text-decoration: none;
  color: #717171;
}
.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #F5F5F7;
  margin-bottom: 87px;
}
.header__content-h1 {
  text-align: center;
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  font-family: "Inter";
  font-style: normal;
  padding-top: 71px;
  color: #490E84;
  font-size: 64px;
  line-height: 77.45px;
  margin-bottom: 40px;
}
.header__content-h1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__content-iphone {
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.header__content-iphone._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.header__content-btn {
  font-family: "Inter";
  font-style: normal;
  margin: 0 auto;
  background-color: #490E84;
  color: white;
  margin-bottom: 40px;
}

.item-column {
  display: flex;
}

.btn {
  width: 350px;
  height: 70px;
  border-radius: 30px;
}

.content {
  margin: 0 auto;
  max-width: 1101px;
}
.content__text {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  margin-bottom: 50px;
  color: #717171;
  font-size: 32px;
  line-height: 39px;
}
.content__container {
  display: flex;
  justify-content: center;
}
.content__raw {
  margin-bottom: 150px;
}

.container__items {
  max-width: 560px;
}
.container__item-block {
  width: 191px;
}
.container__text {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  font-family: "Inter";
  font-style: normal;
  color: #0A0A0A;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 30px;
}
.container__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.container__text:last-child {
  margin-bottom: 150px;
}

.item__iphone {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  max-width: 350px;
}

.item__iphone._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.text-bold {
  color: #0A0A0A;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.raw__items {
  display: flex;
}
.box__items {
  display: flex;
}

.box__item {
  flex: 0 1 25%;
}

.item__text {
  color: #0A0A0A;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.item__tittle {
  color: #0A0A0A;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}
.item__btn {
  margin-left: 86px;
  width: 240px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
}

.item__content {
  display: flex;
  margin-bottom: 20px;
}

.color__img {
  margin: 0 auto;
  max-width: 240px;
}

.color__img:hover {
  border-radius: 31px;
  -webkit-animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.box__items {
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.box__items._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.form__raw {
  max-height: 600px;
  max-width: 1200px;
  margin: 0 auto;
}
.form__column-items {
  background: #574B63;
  display: flex;
}
.form__tittle {
  font-family: "Inter";
  font-style: normal;
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 72px;
}
.form__name {
  font-family: "Inter";
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  opacity: 0.5;
  margin-bottom: 10px;
}
.form__phone {
  font-family: "Inter";
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  opacity: 0.5;
  margin-bottom: 10px;
}
.form__text {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  opacity: 0.5;
  margin-bottom: 30px;
}

.line {
  margin-top: -10px;
  border: 1px solid #F5F5F5;
  margin-bottom: 30px;
}

.column__item {
  width: 100%;
  height: 100%;
}
.column__iphone {
  min-width: 100%;
}

.form__content {
  padding: 137px 75px;
}

.item__btn {
  color: #490E84;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}

.btn:hover {
  -webkit-animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.footer {
  height: 150px;
  background: #0A0A0A;
  display: flex;
}
.footer__items {
  display: flex;
  align-items: center;
  flex: 1 0 33.333%;
}
.footer__item {
  width: 218px;
  font-family: "Inter";
  font-style: normal;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #717171;
}
.footer__img {
  width: 40px;
}

.input {
  min-height: 20px;
  min-width: 450px;
  font-family: "Inter";
  font-style: normal;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  outline: none;
  color: white;
  background: rgba(87, 75, 99, 0);
}

.input:hover {
  border-radius: 5px;
  -webkit-animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

@-webkit-keyframes shadow-drop-2-lr {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5), 12px 0 20px -12px rgba(0, 0, 0, 0.1);
  }
}

@keyframes shadow-drop-2-lr {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5), 12px 0 20px -12px rgba(0, 0, 0, 0.1);
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}