* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__item-text {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 13px 0 12px 0;
  background-color: #0A0A0A;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 29.05px;
  color: #717171;
}
.header__nav-row {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item-text {
  padding-right: 30px;
}
.header__item-text:last-child {
  padding-right: 0px;
}
.header__item-logo {
  max-width: 100%;
}
.header__item-phone {
  flex: 1 0 33.333%;
}
.header__content {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #F5F5F7;
  margin-bottom: 13%;
}
.header__content-h1 {
  text-align: center;
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  font-family: "Inter";
  font-style: normal;
  padding: 71px 0px 0px 0px;
  color: #490E84;
  font-size: 64px;
  line-height: 77.45px;
  margin-bottom: 40px;
}
.header__content-h1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.header__content-iphone {
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.header__content-iphone._active {
  opacity: 1;
  transform: translate(0px, 0px);
}
.header__content-btn {
  font-family: "Inter";
  font-style: normal;
  margin: 0 auto;
  background-color: #490E84;
  color: white;
  margin-bottom: 40px;
}

.item-column {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.item__phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

.btn {
  cursor: pointer;
  width: 350px;
  height: 70px;
  border-radius: 30px;
}

.content {
  padding: 25px;
  margin: 0 auto;
  max-width: 1101px;
}
.content__text {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  margin-bottom: 5%;
  color: #717171;
  font-size: 32px;
  line-height: 39px;
}
.content__container {
  display: flex;
  justify-content: center;
}
.content__raw {
  transform: translate(0px, 20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  margin-bottom: 150px;
}

.iphone-color {
  padding-top: 40px;
}

.iphone-color._active .content__raw {
  transform: translate(0px, 0px);
  opacity: 1;
}

.container__items {
  max-width: 560px;
}
.container__item-block {
  width: 191px;
}
.container__text {
  transform: translate(0px, 40%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  font-family: "Inter";
  font-style: normal;
  color: #0A0A0A;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 30px;
}
.container__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.container__text:last-child {
  margin-bottom: 150px;
}

.item__iphone {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.8s ease 0s;
  max-width: 350px;
}

.item__iphone._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.text-bold {
  color: #0A0A0A;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.raw__items {
  display: flex;
}
.box__items {
  display: flex;
}

.box__item {
  flex: 0 1 25%;
  color: #0A0A0A;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.item__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
.item__btn {
  width: 240px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
}

.item__content {
  display: flex;
  margin-bottom: 20px;
}

.color__img {
  margin: 0 auto;
  max-width: 240px;
}

.color__img:hover {
  border-radius: 31px;
  -webkit-animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contacts {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  color: white;
}
.contacts__form {
  text-align: center;
  width: 100%;
  padding: 10% 7%;
}
.contacts__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 10%;
}
.contacts__input {
  padding: 10px 0;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 2px solid white;
  background-color: #574B63;
  opacity: 0.5;
}
.contacts__input::-moz-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: white;
}
.contacts__input:-ms-input-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: white;
}
.contacts__input::placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: white;
}
.contacts__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  opacity: 0.5;
  margin-bottom: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contacts-inner {
  overflow: hidden;
  border-radius: 30px 30px 0px 0px;
  background: #574B63;
  display: flex;
}

.item__btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #490E84;
}

.footer {
  background-color: #0A0A0A;
}
.footer__items {
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__item {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #717171;
}
.footer__link {
  flex-grow: 1;
  flex-basis: 0;
}
.footer__img {
  width: 100%;
}

.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

@media (max-width: 1000px) {
  .header__content {
    border-radius: 0px 0px 30px 30px;
  }
  .header__content-h1 {
    padding: 0px;
  }
  .header__content-btn {
    margin-bottom: 0px;
  }
  .content__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .content__container__items {
    margin: 0 auto;
  }
  .container__text:last-child {
    margin-bottom: 20%;
  }
  .box__item {
    margin-bottom: 15px;
  }
  .box__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
  }
  .item__text {
    font-size: 14px;
  }
  .item__title {
    font-size: 30px;
  }
  .content__raw {
    margin-bottom: 20%;
  }
  .iphone-color {
    padding-top: 0px;
  }
  .form__column-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .column__iphone {
    max-width: 100%;
  }
  .column__item {
    width: 100%;
    height: 100%;
    background: #574B63;
  }
  .form__content {
    padding: 0px;
  }
  .column__item {
    width: auto;
  }
  .contacts-inner {
    flex-direction: column;
  }
  .footer__items {
    padding: 5%;
    flex-direction: column;
  }
  .footer__link {
    font-size: 16px;
    flex-grow: 0;
    flex-basis: 1;
    text-align: center;
    order: 3;
  }
  .btn {
    width: 350px;
    max-width: 100%;
    height: 70px;
    border-radius: 30px;
    font-size: 18px;
  }
  .contacts__iphone {
    background-color: black;
  }
}
@media (max-width: 1000px) and (max-width: 750px) {
  .header__menu-btn {
    order: 1;
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  .header__item-text {
    font-size: 30px;
    padding: 50px 0;
  }
  .header__item-phone {
    display: none;
  }
  .header__item-logo {
    z-index: 11;
  }
  .item-column {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s;
  }
  .menu-open .item-column {
    transform: translateY(0%);
  }
  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #717171;
    height: 2px;
    transition: 0.3s ease;
  }
  .btn-line:nth-child(3) {
    top: 0%;
  }
  .btn-line:nth-child(4) {
    top: 100%;
  }
  .btn-line:nth-child(1) {
    top: 50%;
  }
  .btn-line:nth-child(2) {
    top: 50%;
  }
  .menu-open .btn-line:nth-child(1) {
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(2) {
    transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(3) {
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }
}
@-webkit-keyframes shadow-drop-2-lr {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5), 12px 0 20px -12px rgba(0, 0, 0, 0.1);
  }
}
@keyframes shadow-drop-2-lr {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5), 12px 0 20px -12px rgba(0, 0, 0, 0.1);
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}